.users {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  height: 300px;
  width: auto;
}

.tasks {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  height: 300px;
  width: auto;
}
